<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "styles", "pygment_trac" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <%= javascript_include_tag  "all" %>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  

  <body class="<%= page_classes %>">
    <header>
      <a href="">
        <h1><%= data.defaults.heading %></h1>
        <p><%= data.defaults.summary %></p>
      </a>
    </header>

    <div id="banner">
      <div class="banner-inner">
        <span id="logo"></span>

        <a href="<%= data.github.url %>" class="button fork"><strong>Fork On GitHub</strong></a>
        <div class="downloads">
          <span>Downloads:</span>
          <ul>
            <li><a href="<%= data.github.zipball %>" class="button">ZIP</a></li>
            <li><a href="<%= data.github.tarball %>" class="button">TAR</a></li>
          </ul>
        </div>
      </div>
    </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <!-- javascripts/main.js appends links in the <ul> element for every <h1> and <h2> inside the main section -->
        <ul></ul>
      </nav>

      <aside>
        <% data.docs.each do |d| %>
          <ul>
            <h4><%= d.title %></h4>
            <% d.docs.each do |d| %>
              <li><a href="/<%= d.filename %>.html"><%= d.title %></a></li>
            <% end %>
          </ul>
        <% end %>
      </aside>

      <section>
        <%= yield %>
      </section>

      <footer>
        <p><span class="small">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
